<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Cover</h3>
          <nav class="nav nav-masthead justify-content-center">
            <%= render "shared/application_nav" %>
            <%= login_helper("nav-link") %>
          </nav>
        </div>
      </header>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <main role="main" class="inner cover">
        <%= yield %>
      </main>

      <%= render "shared/application_footer" %>
      <%= source_helper("application") %>
    </div>
  </body>
</html>
